<div class="container-fluid">
    <div class="row">
      <h3>Employee Form</h3>

      <form action="" [formGroup]="employeeForm" (ngSubmit)="addEmployee()">
          <div class="form-control">
            <label for="">Name</label>
              <input type="text" placeholder="Name" formControlName="name">
          </div>

          <div class="form-control">
            <label for="">Department</label>
            <input type="text" placeholder="Position" formControlName="department">
          </div>

          <div class="form-control">
            <label for="">Salary</label>
            <input type="text" placeholder="Salary" formControlName="salary">
          </div>

          <div>
              <button type="submit">Add Employee</button>
          </div>
      </form>

      <h3>Employee List</h3>
      <input type="text" placeholder="Search...." [(ngModel)] = "searchQuery" (input)="filterEmployees()">
      <table>
          <thead>
                <th>No</th>
                <th>Name</th>
                <th>Department</th>
                <th>Salary</th>
          </thead>

          <tbody>
              <tr *ngFor = "let emp of filteredEmployees; let i = index">
                  <td>{{ i + 1}}</td>
                  <td>{{ emp.name }}</td>
                  <td> {{ emp.department }} </td>
                  <td> {{ emp.salary }} </td>
                  <td>
                    <button (click)="editEmployee(i)">Edit</button>
                    <button (click)="deleteEmployee(i)">Delete</button>
                  </td>
              </tr>
              
          </tbody>

          <tfoot>

          </tfoot>
      </table>
    </div>
</div>